.svg-class {
  height: 1em;
  width: 1em;
  fill: currentColor;
  overflow: hidden;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  text-align: center;
}
